.profilePage {
	background-color: #F3F4F5;
	padding: 0;
}

.profileContent {
	/* padding: var(--spacing-md); */
	display: flex;
	flex-direction: column;
	gap: var(--spacing-lg);
}

.userSection {
	background-color: #ffffff;
	border-radius: 20px;
	padding: var(--spacing-lg);
}

.sectionTitle {
	font-size: 1.2rem;
	font-weight: 600;
	color: #1B263B;
	margin: 0 0 var(--spacing-lg) 0;
}

.infoField {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);
	margin-bottom: var(--spacing-lg);
}

.infoField:last-child {
	margin-bottom: 0;
}

.fieldLabel {
	font-size: 0.85rem;
	font-weight: 400;
	color: var(--text-secondary);
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.fieldValue {
	font-size: 1rem;
	font-weight: 500;
	color: #1B263B;
}

/* Адаптивность */
@media (max-width: 400px) {
	.sectionTitle {
		font-size: 18px;
	}
}

@media (max-width: 768px) {
	.profileContent {
		/* padding: var(--spacing-sm); */
		gap: var(--spacing-md);
	}
	
	.userSection {
		padding: var(--spacing-md);
	}
}

@media (max-width: 480px) {
	.profileContent {
		/* padding: var(--spacing-sm); */
	}
	
	.sectionTitle {
		font-size: 1.1rem;
	}
	
	.fieldValue {
		font-size: 0.95rem;
	}
}